<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="login">
        <h2>Такой пользователь уже зарегестрировался!</h2>
        <a href="/reg">Вернуться назад</a>
        </form>
    </div>

    <footer>
        {{>footer}}
    </footer>
</body>
</html>