<link rel="stylesheet" href="../css/style.css">

<header>
    {{>header}}
</header>
<div class="registration">
        <form action="/register" method="POST">
        <div class="form-group mb-3">
            <label>Имя</label>
            <input type="text" class="form-control" placeholder="Имя" name="firstName">
        </div>
        <div class="form-group mb-3">
            <label>Фамилия</label>
            <input type="text" class="form-control" placeholder="Фамилия" name="lastName">
        </div>
        <div class="form-group mb-3">
            <label>Электронная почта</label>
            <input type="text" class="form-control" placeholder="Электронная почта" name="eMail">
        </div>
        <div class="form-group mb-3">
            <label>Адрес</label>
            <input type="text" class="form-control" placeholder="Адрес" name="adress">
        </div>
        <div class="form-group mb-3">
            <label>Логин</label>
            <input type="text" class="form-control" placeholder="Логин" name="userName">
        </div>
        <div class="form-group mb-3">
            <label>Пароль</label>
            <input type="password" class="form-control" placeholder="Пароль" name="password">
          </div>
        <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary form-control">Зарегистрироваться</button>
        </div>
      </form>


<footer>
    {{>footer}}
</footer>