@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu Sans", sans-serif;
    padding-bottom: 50px; 


}

a {
    color: #000 !important;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4fcfb;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.171);
    z-index: 1000;
}

header img {
    height: 60px;
}
.category{
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

nav form {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav input[type="search"] {
    margin-right: 10px;
    padding: 5px;
    border-radius: 7px;
    border: #3d3c3f solid 1px;
}

.searchbutton {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    margin-right: 50px;
    border-radius: 7px;
    border: none;
    background-color: #b1ff2e;
    height: 30px;
    width: 70px;
}

.open-login-form {
    background: transparent;
    border: none;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: "Ubuntu Sans", sans-serif;
    cursor: pointer;
}

footer {
    background-color: #1e2127;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 1000; 
}

footer p {
    color: #fff;
}


#counter-value {
    position: absolute;
    display: inline;
    margin: -15px 0 0 -10px;
    background-color: #5ee73c;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    color: white;
}

ul.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0;
}

.product-card {
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card .img_block {
    padding-top: 20px;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.img_block img {
    width: auto;
    height: 100%;
    border-radius: 10px;
}

.product_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.product_contents h2 {
    height: 40px;
    font-size: 20px;
    margin: 10px 0;
}

.product_contents .description {
    height: 60px;
    font-size: 15px;
    margin-top: 10px;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.product_contents .price {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}

.addCart{
    background-color: #5f8f0d;
    border: none;
    font-family: "Ubuntu Sans", sans-serif;
    cursor: pointer;
    padding: 10px;
    color: white;   
    border-radius: 10px;
    width: 50%; 
    margin: 10px auto 20px auto; 
    display: block; 
}
.delete-button{
    background-color: #f87284;
    border: none;
    font-family: "Ubuntu Sans", sans-serif;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 50%; 
    margin: 10px auto 20px auto; 
    display: block;
}

.redact-button{
    background-color: #3775d3;
    border: none;
    font-family: "Ubuntu Sans", sans-serif;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 50%; 
    margin: 10px auto 20px auto; 
    display: block;
}

.addCart:hover {
    opacity: 0.8;
}


.count_t {
    white-space: nowrap;
}

.count_t b {
    font-size: 18px;
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.loginForm {
    display: none;
    position: fixed;
    align-items: center;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    background-color: #ebebeb;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.loginForm h2,
h3 {
    text-align: center;
    position: relative;
}

.loginForm h3 {
    color: #ff1900;
    font-size: 15px;
}

.close-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-size: 30px;
}

.loginForm input {
    border-radius: 5px;
}

.loginForm input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginForm input[type=submit] {
    background-color: #0ba751;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.loginForm input[type=submit]:hover {
    opacity: 0.8;
}

.loginForm .reg {
    text-align: center;
    margin-top: 10px;
    opacity: 0.5;
}

.account {
    border: 1px solid black;
    left: 50%;
}

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart-container h1 {
    text-align: center;
}

.cart-items {
    flex: 1;
}

.cart-summary {
    width: 250px;
    position: absolute;
    margin-right: 20px;
    bottom: 10%;
    right: 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-summary p {
    padding: 20px;
    font-size: 16px;
    color: #333;
    margin: 0;
}

.cart-summary strong {
    font-size: 18px;
    color: #000;
}

.order-button {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #06cfbf;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-button:hover {
    background-color: #054943;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item .product-img {
    margin-right: 20px;
    flex-shrink: 0;
}

.cart-item .product-img img {
    height: 100px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
}

.cart-item .product-info {
    flex: 1;
}

.cart-item .product-info p {
    margin: 0 0 10px;
    font-size: 14px;
    color: #333;
}

.cart-item button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #318f19;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.left-panel {
    width: 250px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: fixed;
    height: 500px;
    left: -250px; 
    top: 40%; 
    transform: translateY(-50%);
    padding-top: 20px;
    margin-top: 2%;
    animation-duration: 0.2s; 
    transition: left 0.5s ease; 
}

.left-panel.open {
    left: 0; 
}

#togglePanelButton {
    position: fixed;
    top: 50%; 
    left: 10px; 
    width: 90px;
    transform: translateY(-50%);
    background-color: #53c705;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1001; 
}

#togglePanelButton:hover {
    background-color: #025302;
}


.cearchCat {
    margin: 30px;
    width: 80%;
    height: 40px;
    background-color: #176806;
    border-radius: 10px;
    color: white;
    border: none;
    
}

.cearchCat:hover{
    cursor: pointer;
    opacity: 0.8;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%; 
}

.slider .progress {
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #1F5785;
}

.range-input {
    position: relative;
    height: 0;
    width: 80%; 
    margin-left: 10%; 
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #1F5785;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #1F5785;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.selectCat {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 10px;
    text-align: left; 
}

.selectCat label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.selectCat input[type="checkbox"] {
    margin-right: 10px;
}

.price-input {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10px;
    margin: 30px 0 35px;
    
}

.price-input .field {
    display: flex;
    align-items: center;
}

.field input {
    width: 60px; 
    height: 35px;
    outline: none;
    margin: 10px;
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #7c7c7c;
    -moz-appearance: textfield;
}

.left-panel-admin {
    width: 200px;
    height: auto;
    position: fixed;
    margin-top: 2%;
    left: 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px;

}

.left-panel h3{
    margin: 0;
}

.tool-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tool-panel button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #045e6e;
    color: white;
    border-radius: 5px;
}

.tool-panel button:hover {
    opacity: 0.8;
}

.main-content {
    margin: 20px 280px; 
    padding: 20px;
    background-color: #ffffff; 
    border: 1px solid #ddd;
    border-radius: 10px; 
}

.main-content content{
    align-items: center;
    text-align: center;
}


#addAdminForm {
    width: 400px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

}
#responseMessage {
    text-align: center;
  }

#addAdminForm select,
#addAdminForm input[type="number"],
#addAdminForm input[type="submit"] {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
}

#addAdminForm input[type="submit"] {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addAdminForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

#addAdminForm p {
    margin-bottom: 10px;
}

#deleteAdminForm {
    width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#deleteAdminForm select,
#deleteAdminForm input[type="number"],
#deleteAdminForm input[type="submit"] {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#deleteAdminForm input[type="submit"] {
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#deleteAdminForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

#deleteAdminForm p {
    margin-bottom: 10px;
}
#addProductForm {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#responseMessage {
    text-align: center;
}

#addProductForm select,
#addProductForm input[type="number"],
#addProductForm input[type="text"],
#addProductForm input[type="submit"] {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#addProductForm input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addProductForm input[type="submit"]:hover {
    background-color: #0056b3; 
}

#addProductForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

#addProductForm p {
    margin-bottom: 10px;
}

#addProductForm .label_for_input_img {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

#addProductForm input[type="file"] {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}


#addProductForm .custom-file-upload:hover {
    background-color: #218838; 
}

#content_red {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#editprodform select,
#editprodform input[type="number"],
#editprodform input[type="text"],
#editprodform input[type="file"],
#editprodform input[type="submit"]
{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#editprodform input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#editprodform input[type="submit"]:hover {
    background-color: #0056b3;
}

#editprodform h1 {
    text-align: center;
    margin-bottom: 20px;
}

#editprodform p {
    margin-bottom: 10px;
}

#editprodform .label_for_input_img {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

#editprodform input[type="file"] {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editprodform .custom-file-upload:hover {
    background-color: #218838;
}

/* Response Message */
#responseMessage {
    margin-top: 20px;
    font-size: 14px;
    color: red;
}


#addCategoryForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addCategoryForm h2 {
    text-align: center;
    margin-bottom: 15px;
}

#addCategoryForm p {
    margin-bottom: 10px;
}

#addCategoryForm input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#addCategoryForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addCategoryForm input[type="submit"]:hover {
    background-color: #0056b3;
}

#responseMessage {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
#dltCategoryForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#dltCategoryForm h2 {
    text-align: center;
    margin-bottom: 15px;
}

#dltCategoryForm p {
    margin-bottom: 10px;
}

#dltCategoryForm select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#dltCategoryForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#dltCategoryForm input[type="submit"]:hover {
    background-color: #c82333;
}

#responseMessage {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}


.registration {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.registration h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration form {
    display: flex;
    flex-direction: column;
}

.registration label {
    font-weight: bold;
    margin-bottom: 5px;
}

.registration input[type="text"],
.registration input[type="email"],
.registration input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.registration button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration button[type="submit"]:hover {
    background-color: #0056b3;
}

.account {
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginuser h2 {
    text-align: center;
}

.change-acc {
    display: flex;
    flex-direction: column;
}

.change-acc label {
    margin-top: 1em;
    font-weight: bold;
}

.change-acc input {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.change-acc button {
    margin-top: 1em;
    padding: 0.75em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.change-acc button:hover {
    background-color: #218838;
}

.button_ext {
    display: block;
    margin: 2em auto;
    padding: 0.75em 1.5em;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button_ext:hover {
    background-color: #c82333;
}